{% extends "principal.html" %}
{% load static %}
{% load bulma_tags %}
{% block content %}

<section class="hero is-fullheight" style="background-color: darkgrey;">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5">

                    <form class="box" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|bulma }}

                        <div class="field is-grouped pt-4">
                            <div class="control">
                                <input class="button is-medium is-success" type="submit" value="Entrar">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}