{% extends 'principal.html' %}
{% load static %}
{% load bulma_tags %}
{% block content %}
    <div class="container pb-2">
        <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'professores' %}">Professores</a></li>
                <li><a href="{% url 'professores' %}">Gerenciar Professores</a></li>
                <li class="is-active"><a href="#" aria-current="page">Exluir Professor</a></li>
            </ul>
        </nav>
    </div>

    <section class="section">
        <div class="container">
            <div class="columns is-mobile">
                <div class="column is-half is-offset-one-quarter">
                    <h3 class="title is-size-3">Informações do Professor</h3>
                    <p class="p-2 mt-2"><strong>Nome: </strong> {{ object.nome }} </p>
                    <p class="p-2 mt-2"><strong>Telefone: </strong> {{ professor.fone }} </p>
                    <p class="p-2 mt-2"><strong>E-mail: </strong> {{ professor.email }} </p>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p> Confirma a exclusão de "{{ object }}"? </p>
                        <br />
                        <button class="button is-link is-primary" type="submit">Excluir</button>
                        <button class="button is-danger is-pulled-right" type="reset">
                            <a href=" {% url 'professores' %} " style="color: white;">Cancelar</a>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}